<h1>Ordenes</h1>

{{#each orders}}
    <div>
        <p>{{date}}</p>
        <p>{{description}}</p>
        <p>{{customer_name}}</p>
        <p>{{ammount}}</p>
        <p>{{status}}</p>
        <p>-----------</p>
    </div>
{{/each}}